.card {
  padding: 1rem;
  padding-bottom: 3rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: var(--colorBGCard);
  border: var(--BoxBorder);
  transition: 0.15s;
  position: relative;
}
.pera img {
  max-width: 18rem;
}
.card__header {
  height: 4rem;
}
.pera {
  margin: 2rem auto 0 auto;
  padding: 0.25rem;
}
.post {
  cursor: pointer;
}
.title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--colorTitle);
}

.writer__name {
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: start;
  line-height: 1.8rem;
  color: var(--colorText);
  position: relative;
  left: 1.2rem;
  top: -1rem;
  transition: 0.2s;
}
.feather {
  position: absolute;
  top: 0.4rem;
  left: -1.2rem;
}
.date {
  font-weight: 500;
  font-size: 0.8rem;
  position: absolute;
  left: 2.5rem;
  bottom: 1rem;
}
.calendar {
  position: absolute;
  left: -1.2rem;
}

.card_btn {
  position: absolute;
  right: 1rem;
  bottom: 10px;
}

.writer__name:hover {
  color: var(--colorAccent);
}
.card:hover {
  background-color: var(--colorHoverBGCard);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    min-width: 250px;
    max-width: 330px;
  }
  .pera img {
    max-width: 18rem;
  }
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .card {
    min-width: 250px;
    max-width: 340px;
  }
  .pera img {
    max-width: 18rem;
  }
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .card {
    min-width: 250px;
    max-width: 400px;
  }
  .pera img {
    min-width: 100%;
    max-width: 100%;
  }
}
/* Extra small devices (phones, 577px and down) */
@media only screen and (max-width: 577px) {
  .card {
    width: 95%;
  }
}
