.search__form {
  text-align: center;
  min-height: 52vh;
}
.search__input {
  /* padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem; */

  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;

  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search__input:focus {
  outline-color: var(--colorAccent);
}
