.search__form {
  text-align: center;
  margin-bottom: 1rem;
}
.search__input {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;

  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search__input:focus {
  outline-color: var(--colorAccent);
}
.result {
  width: 98%;
  min-height: 50vh;
  display: grid;
  justify-content: center;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .result {
    grid-template-columns: auto auto auto;
  }
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .result {
    grid-template-columns: auto auto;
  }
}
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .result {
    grid-template-columns: auto;
  }
}
/* Extra small devices (phones, 577px and down) */
@media only screen and (max-width: 577px) {
  .result {
    grid-template-columns: auto;
  }
}
