.setting__bar {
  position: relative;
  top: 120px;
  width: 100%;
}
.setting__medile__bar {
  width: 65rem;
  margin: 0 auto;
  text-align: end;
}

.setting__icon {
  font-size: 1.5rem;
  margin: 1rem 2px;
  transition: 0.5s;
  color: var(--colorDefaultLink);
}

.setting__icon:hover {
  color: var(--colorAccent);
}

#settings__icon:hover {
  transform: rotate(180deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .setting__bar {
    top: 90px;
  }
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .setting__medile__bar {
    width: 85%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .setting__medile__bar {
    width: 58rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .setting__medile__bar {
    width: 65rem;
  }
}
